<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>UpdatePatient</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <style>
        .color-green { color: green; }
        .color-orange { color: orange; }
        .color-red { color: red; }
        .color-blinking-red { color: red; animation: blinkingText 1.5s infinite; }
        .color-black { color: black; }
        @keyframes blinkingText {
            0% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
        }
    </style>

</head>
<body>
<div class="container">
    <h1 class="text-center">Détails du patient</h1>
    <div class="text-center my-2" style="font-style: italic;">
        <span>Risque Diabète : </span>
        <span th:text="${rapportDiabete}" style="font-size: larger;"
              th:classappend="${rapportDiabete == 'None' ? 'color-green' :
                     rapportDiabete == 'Borderline' ? 'color-orange' :
                     rapportDiabete == 'In Danger' ? 'color-blinking-red' :
                     rapportDiabete == 'Early onset' ? 'color-red' :
                     'color-black'}">
        </span>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto mt-2 text-center">
            <form action="#" class="form-horizontal" method="post"
                  style="width: 100%" th:action="@{/patientFront/update/{id}(id=${patient.id})}" th:object="${patient}">
                <div class="form-group mb-4">
                    <label class="col-sm-5 control-label text-start" for="nom">Nom :</label>
                    <input class="col-4" id="nom" placeholder="nom" required=true th:field="*{nom}" type="text">
                </div>
                <div class="form-group mb-4">
                    <label class="col-sm-5 control-label text-start" for="prenom">Prenom :</label>
                    <input class="col-4" id="prenom" placeholder="prenom" required=true th:field="*{prenom}"
                           type="text">
                </div>
                <div class="form-group mb-4">
                    <label class="col-sm-5 control-label text-start" for="dateDeNaissance">Date de naissance :</label>
                    <input class="col-4" id="dateDeNaissance" required="true"
                           th:field="*{dateDeNaissance}" type="date" min="1905-01-01" th:max="${dateDuJour}">
                </div>
                <div class="form-group mb-4">
                    <label class="col-sm-5 control-label text-start" for="genre">Genre :</label>
                    <select class="col-4" id="genre" required th:field="*{genre}">
                        <option value="H">Homme</option>
                        <option value="F">Femme</option>
                    </select>
                </div>
                <div class="form-group mb-4">
                    <label class="col-sm-5 control-label text-start" for="adresse">Adresse :</label>
                    <input class="col-4" id="adresse" placeholder="adresse" th:field="*{adresse}" type="text">
                </div>
                <div class="form-group mb-4">
                    <label class="col-sm-5 control-label text-start" for="telephone">telephone :</label>
                    <input class="col-4" id="telephone" placeholder="telephone" th:field="*{telephone}" type="text" pattern="^\d{3}-\d{3}-\d{4}$" title="Veuillez entrer le numéro au format 400-555-6666.">
                </div>
                <div class="form-group mb-4">
                    <div class="col-sm-12">
                        <input th:field="*{id}" type="hidden">
                        <input class="btn btn-primary btn-sm" type="submit" value="Update Patient">
                        <a class="btn btn-info btn-sm" style="margin-right: 10px;"
                           th:href="@{|/noteFront/list/${patient.id}/${patient.nom}|}">Note Patient</a>
                    </div>

                </div>
            </form>
            <p>
                <a class="font-weight-bold" th:href="@{|/patientFront/list|}">Retour liste patients</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>